
:root{
    --blue: blue;
}


/* style của btn--add*/
.btn--add{
    height: 42px;
    width: 42px;
    border-radius: 20%;
    padding: 2px 0 0 0 ;
}

/*sau khi nhấn btn--add sẽ chuyển màu*/
.btn--add:active{
    background-color: lightgreen;
}

/*style của hình nút add*/
.add--img{
    height: 25px;
    width: 25px;
    background-size: contain;
}


/*style */




